@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.container {
  display: flex;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.background {
  font-size: 5rem;
  font-family: 'Montserrat';
  line-height: 1.1;
  color: var(--bg-text);
  position: absolute;
  z-index: 1;
}

.foreground {
  z-index: 2;
  display: flex;
  color: var(--accent-color);
  justify-content: space-between;
  align-items: center;
}

.content {
    font-size: 16px;
}

.content > * {
    white-space: nowrap;
}

.name {
  color: #eee;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.button {
  background: var(--accent-color);
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  margin-right: 1.5rem;
  color: #eee;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.outlined {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
  color: #eee;
  border: 2px solid var(--accent-color);
  background: transparent;
  cursor: pointer;
}

.button:hover,
.outlined:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.illustration {
  height: 500px;
  width: 460px;
  position: absolute;
  right: -2rem;
}

/* 4K Screens */
@media screen and (min-width: 2000px) {
  .background {
    font-size: 6.5rem;
  }
  .content {
    padding: 0 3rem;
    font-size: 16px;
  }
  .name {
    font-size: 6rem;
  }
  .button {
    font-size: 2rem;
  }
  .outlined {
    font-size: 2rem;
  }
  .illustration {
    height: 900px;
    width: 700px;
    /*bottom: -50px;*/
    right: -2rem;
  }
}

@media screen and (max-width: 1450px) {
  .illustration {
    position: absolute;
    bottom: -100px;
    right: -2rem;
    height: calc(500px * 0.75);
    width: calc(460px * 0.75);
  }
}

/* iPad Pro */
@media screen and (max-width: 1100px) {
  .background {
    display: none;
  }
  .content {
    font-size: 12px;
  }
  .container {
    display: block;
  }
  .foreground {
    margin: 4rem 0;
    display: block;
    text-align: center;
  }
  .name {
    font-size: 4rem;
  }
  .illustration {
    position: absolute;
    bottom: 2rem;
    right: -2rem;
    height: calc(500px * 0.75);
    width: calc(460px * 0.75);
  }
}

/* iPad */
@media screen and (max-width: 900px) {
  .foreground {
    margin: 2rem 0;
  }
  .content {
    font-size: 10px;
  }
  .name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  .illustration {
    display: none;
  }
}

@media screen and (orientation: landscape) and (max-width: 1050px) {
  .container {
    display: flex;
  }
  .illustration {
    display: none;
  }
}

/* Phone */
@media screen and (max-width: 600px) {
  .foreground {
    margin: 0;
  }
  .content {
    font-size: 6px;
  }
  .name {
    font-size: 2rem;
  }
  .button {
    font-size: 1rem;
  }
  .outlined {
    font-size: 1rem;
  }
  .illustration {
    display: none;
  }
}
